.l-modal {
  display: grid;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  height: 100%;
  grid-template-rows: 90% 10%;
}

/* .modal-img {
  max-height: 95%;
  width: auto;
} */

.modal-img {
  max-height: 90%;
}

@media only screen and (max-width: 600px) {
  .modal-img {
    max-width: 100%;
  }
}

.modal-caption {
  color: hsl(100, 100%, 99%);
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
