.animation-main {
  justify-content: unset;
  flex-direction: column;
}

.animation-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
