.illo-grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(8, 300px);
  gap: 10px;

  img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    cursor: pointer;
  }
}
