html {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: monospace;
  margin: 0;
  // width: fit-content;
  // height: 100%;
}

a {
  text-decoration: none;
  color: hsl(230, 95%, 55%);
}

body {
  overflow-y: scroll;
}

main {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}
